---
import { Icon } from 'astro-icon/components';
import { twMerge } from 'tailwind-merge';
import type { CallToAction as Props } from '~/types';

const {
  variant = 'secondary',
  target,
  text = Astro.slots.render('default'),
  icon = '',
  iconPosition = 'end',
  class: className = '',
  type,
  ...rest
} = Astro.props;

const iconClass =
  iconPosition === 'start'
    ? 'w-5 h-5 shrink-0 -ml-0.5 mr-2 rtl:mr-0 rtl:ml-2'
    : 'w-5 h-5 shrink-0 ml-1 -mr-1.5 rtl:mr-1 rtl:-ml-1.5';

const variants = {
  primary: 'btn-primary',
  secondary: 'btn-secondary',
  tertiary: 'btn btn-tertiary',
  link: 'cursor-pointer hover:text-primary',
};

const withIconGap = icon ? 'gap-2' : '';
---

{
  type === 'button' || type === 'submit' || type === 'reset' ? (
    <button type={type} class={twMerge(variants[variant] || '', withIconGap, className)} {...rest}>
      {icon && iconPosition === 'start' && <Icon name={icon} class={iconClass} />}
      <Fragment set:html={text} />
      {icon && iconPosition !== 'start' && <Icon name={icon} class={iconClass} />}
    </button>
  ) : (
    <a
      class={twMerge(variants[variant] || '', withIconGap, className)}
      {...(target ? { target: target, rel: 'noopener noreferrer' } : {})}
      {...rest}
    >
      {icon && iconPosition === 'start' && <Icon name={icon} class={iconClass} />}
      <Fragment set:html={text} />
      {icon && iconPosition !== 'start' && <Icon name={icon} class={iconClass} />}
    </a>
  )
}
